@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Pizza.Models;
@model ProductsViewModel;

<link rel="stylesheet" href="~/css/admin.css">

<div class="container">
    <div class="main">
        <div class="sidebar">
            <div class="sidedar-main">
                <p class="management__name">Управление</p>
                <div class="management__nav">
                    <ul class="management-menu__list">
                        <li>
                            <a href="#" class="management-menu__link management-nav__slide"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Слайд</a>
                        </li>
                        <li>
                            <a href="#" class="management-menu__link management-nav__menu"><span><img src="/images/adminImage/Mask group-1.svg" alt=""></span>Меню</a>
                            <ul class="sub-management-menu__list">
                                <li>
                                    <a href="#" class="management-menu__link sub-management-menu__link sub-management-nav__menu pizza-sub-management-nav__menu"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Пицца</a>
                                </li>
                                <li>
                                    <a href="#" class="management-menu__link sub-management-menu__link sub-management-nav__menu rolls-sub-management-nav__menu"><span><img src="/images/adminImage/Mask group.svg" alt=""></span>Роллы</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="management-menu__link management-nav__info"><span><img src="/images/adminImage/Mask group-2.svg" alt=""></span>Информация</a>
                        </li>
                    </ul>

                </div>
            </div>
            <a href="#" class="sideBarArrow"><img src="/images/adminImage/arrowSideBar.png" alt=""></a>
        </div>
        <div class="window__settings">
            <div class="window__settings-main">
                <table>
                    <h2 class="desc">Меню: <span class="desc__name">Пицца</span></h2>
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Название</td>
                            <td>Изображение</td>
                            <td>Цена</td>
                            <td colspan="2">Действие</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.pizzaProduct)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td><img class="item-image" src="@item.ImgPath" /></td>
                                <td>@item.Price</td>
                                <td>
                                    <a href="#" class="edit"><img src="/images/adminImage/edit.svg" alt=""></a>
                                </td>
                                <td>
                                    <a asp-action="delete" asp-route-id="@item.Id" class="delete"><img src="/images/adminImage/delete.svg" alt=""></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="#" class="addblock">
                    <img src="/images/adminImage/add.svg" alt="">
                </a>

                <div class="addblock-settings">
                    <form class="addblock-form" asp-action="Save" asp-controller="Admin">
                        <div class="write-info">
                            <label class="addblock-settings__category-name">Категория</label>
                            <select class="addblock-settings__category CategoriesName" asp-for="Product.CategoriesName">
                                <option value="pizza">Пицца</option>
                                <option value="rool">Роллы</option>
                            </select>
                            <label class="addblock-settings__name-name">Название</label>
                            <input type="text" class="addblock-settings__name name" asp-for="Product.Name">
                            <label class="addblock-settings__price-name">Цена</label>
                            <input type="text" class="addblock-settings__price price" asp-for="Product.Price">
                        </div>

                        
                        <a class="addFile" onclick="document.querySelector('.fileImage').click()">Фото не выбрано</a>
                        <input type="file" style="display:none" class="fileImage" />

                        <div class="addblock-settings__decide">
                            <a href="#" class="close"><img src="/images/adminImage/close.svg"></a>
                            <a href="#" class="save" onclick="document.querySelector('.saveInput').click()"><img src="/images/adminImage/save.svg"></a>
                            <input type="submit" style="display:none" class="saveInput"/>
                            <input type="text" class="imagePath-input" asp-for="Product.ImgPath" style="display:none"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/js/admin.js"></script>

<script>
    var imagePath;
    var buttonFile = document.querySelector(".addFile")



    document.querySelector(".fileImage").addEventListener("change", async e => {
        const file = e.target.files[0]
        if(!file || !file.type.match(/image.*/)) return

        var formData = new FormData()
        formData.append("image", file)

        const response = await fetch("https://api.imageban.ru/v1", {
            method : "POST",
            body : formData,
            headers: {
                "Accept" : "application/json",
                "Authorization": "TOKEN " + "NzspDu1dS8jc0LTGcJXo"
            }
        })
        if (response.ok == true) {
            const data = await response.json()
            imagePath = data.data.link
            buttonFile.style.backgroundImage = `url("${imagePath}")`
            buttonFile.textContent = ""
            document.querySelector(".imagePath-input").value = imagePath
        }
    })


    
</script>