@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using Pizza.Models.ViewModels;
@using System.Security.Claims;
@model IndexViewModel; 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/main.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    <div class="main">
        <div class="swiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model.promoActions)
                {
                    <div class="swiper-slide"><img src="@item.TitleImg" alt=""></div>
                }
            </div>
        </div>
    </div>
    <div class="products">
        @foreach(var category in Model.Categories)
        {
            <h2 class="product__name">@category.RusName</h2>
            <div class="items">
                @foreach(var product in category.Products)
                {
                    <div class="item" id="@product.Id">
                        <input type="text" class="product-id" id="product-id" value="@product.Id" style="display:none;" asp-for="@Model.Product.Id" />
                        <img src="@product.ImgPath" alt="">
                        <p class="item__name">@product.Name</p>
                        <button class="btn__send" data-id="@product.Id">@product.Price<span>.руб</span></button>
                    </div>
                }
            </div>
        }
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="contact">
                <div class="contact__text contact-text__item">Контактная информация</div>
                <p class="address contact-paragraph__item">Адрес: <span class="addres__text">Любецкая 176А</span></p>
                <p class="number contact-paragraph__item">Телефон: <span class="number__text">87-67-76</span></p>
            </div>
            <div class="information">
                <div class="information__text contact-text__item">Общая информация</div>
                <p class="weekday contact-paragraph__item">-ПН-ПТ: <span class="time">10:00-23:00</span></p>
                <p class="weekday contact-paragraph__item">-СБ-ВС: <span class="time">11:00-00:00</span></p>
            </div>
            <div class="soc-media">
                <div class="soc-media__text contact-text__item">Социальные сети</div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/js/burger.js"></script>
<script src="/js/swiper.js"></script>



<script>
    document.querySelectorAll(".btn__send").forEach((p) => {
        p.addEventListener("click", async e => {
            const button = p;
            var Id = await button.getAttribute("data-id")
            var formData = new FormData()
            formData.append("Id", Id)
            console.log(Id)
            const response = await fetch("@Url.Action("Add", "Basket")", {
                method: "POST",
                body: formData
            })
            if (response.ok == true) {
                const data = await response.json()

                document.querySelector(".basket a span").textContent = data
            }
        })
    })
</script>